GitPython==0.3.2.RC1
Jinja2==2.7.2
M2Crypto==0.21.1
Mako==0.9.1
MarkupSafe==0.18
PyYAML==3.10
argparse==1.2.1
async==0.6.1
chardet==2.0.1
colorama==0.2.5
configobj==4.7.2
gevent==1.0.2
gitdb==0.5.4
greenlet==0.4.7
html5lib==0.999
http==0.02
msgpack-python==0.3.0
pyOpenSSL==0.13
pyaib==1.1.0
pycrypto==2.6.1
pycurl==7.19.3
pyserial==2.6
pyzmq==14.0.1
requests==2.2.1
six==1.5.2
smmap==0.8.2
ssh-import-id==3.21
urllib3==1.7.1
wsgiref==0.1.2
